body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    font-family: sans-serif;
    background-color: #0c0c0c;
    color: #cccccc;
}

section {
    max-width: 1300px;
    min-width: 300px;
    height: 100vh;
    margin: auto;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #ffffff;
    transition: all 1s ease-in-out;
}

.box:nth-child(1) {
    z-index: 4;
}

.box:nth-child(2) {
    z-index: 3;
    background-color: #e9d3d3;
    transition-delay: 100ms;
    transform: translateX(-100px);
}

.box:nth-child(3) {
    z-index: 2;
    background-color: #cc6363;
    transition-delay: 200ms;
    transform: translateX(-200px);
}

.box:nth-child(4) {
    z-index: 1;
    background-color: #912020;
    transition-delay: 300ms;
    transform: translateX(-300px);
}

.fade-in-slide .box {
    transform: translateX(0);
}

[data-anime] {
    transition: all 1s ease-in-out;
} 

.hidden {
    opacity: 0;
    filter: blur(5px);
}

.fade-in {
    opacity: 1;
    filter: blur(0);
}

.hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-200px);
}

.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(200px);
}

.fade-in-slide {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}